In [5]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [6]:
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [7]:
name=['Sarim','Imtiaz','Bilal','Haider','Ali']
print(name[0])

Sarim

In [ ]:
print(name[1])

In [ ]:
print(name[2])

In [ ]:
print(name[3])

In [ ]:
print(name[4])

In [ ]:
transport=['car','Bus','Motor Cycle','Train','Rickshaw']
print("I would like to own a "+transport[2])

In [1]:
guest=['Sarim','Imtiaz','Bilal','Haider','Ali']
for i in range (5):
    print(f"Hello {guest[i]} we are inviting to our Dinner")

Hello Sarim we are inviting to our Dinner
Hello Imtiaz we are inviting to our Dinner
Hello Bilal we are inviting to our Dinner
Hello Haider we are inviting to our Dinner
Hello Ali we are inviting to our Dinner

In [2]:
name=input("Enter the name ")
guest[3]='Zamin'
for i in range (4):
    if name==guest[i]:
        guest[i]='Zamin'
for i in range (5):
    print(f"Hello {guest[i]} we are inviting to our Dinner")

Enter the name Haider
Hello Sarim we are inviting to our Dinner
Hello Imtiaz we are inviting to our Dinner
Hello Bilal we are inviting to our Dinner
Hello Zamin we are inviting to our Dinner
Hello Ali we are inviting to our Dinner

In [3]:
guest.insert(0,'Zahid')
guest.insert(3,'Muzammil')
guest.append('Taha')
for i in range (8):
    print(f"Hello {guest[i]} we are inviting to our Dinner")

Hello Zahid we are inviting to our Dinner
Hello Sarim we are inviting to our Dinner
Hello Imtiaz we are inviting to our Dinner
Hello Muzammil we are inviting to our Dinner
Hello Bilal we are inviting to our Dinner
Hello Zamin we are inviting to our Dinner
Hello Ali we are inviting to our Dinner
Hello Taha we are inviting to our Dinner

In [4]:
print("Sorry "+guest.pop()+"you can’t invite to dinner.")
print("Sorry "+guest.pop()+"you can’t invite to dinner.")
print("Sorry "+guest.pop()+"you can’t invite to dinner.")
print("Sorry "+guest.pop()+"you can’t invite to dinner.")
print("Sorry "+guest.pop()+"you can’t invite to dinner.")
print("Sorry "+guest.pop()+"you can’t invite to dinner.")
for i in range (2):
    print(f" {guest[i]} Your are still invite to our Dinner")
del guest[1]
del guest[0]
print(guest)

Sorry Tahayou can’t invite to dinner.
Sorry Aliyou can’t invite to dinner.
Sorry Zaminyou can’t invite to dinner.
Sorry Bilalyou can’t invite to dinner.
Sorry Muzammilyou can’t invite to dinner.
Sorry Imtiazyou can’t invite to dinner.
 Zahid Your are still invite to our Dinner
 Sarim Your are still invite to our Dinner
[]

In [8]:
places=['hunza','dubai','baku','maldives','karachi']
places

['hunza', 'dubai', 'baku', 'maldives', 'karachi']

In [12]:
print(places.sort())
places

None

['baku', 'dubai', 'hunza', 'karachi', 'maldives']

In [13]:
places.reverse()
places

['maldives', 'karachi', 'hunza', 'dubai', 'baku']

In [16]:
guest=['Sarim','Imtiaz','Bilal','Haider','Ali']
for i in range (len(guest)):
    print(f"Hello {guest[i]} we are inviting to our Dinner")

Hello Sarim we are inviting to our Dinner
Hello Imtiaz we are inviting to our Dinner
Hello Bilal we are inviting to our Dinner
Hello Haider we are inviting to our Dinner
Hello Ali we are inviting to our Dinner

In [27]:
cities=['karachi','lahore','banu','sukkur']
cities.append('karachi')
list1=cities.copy()
list1
cities.count('karachi')
cities.extend('larkana')
cities.extend('islamabad')
cities.index('banu')
cities.insert(1,'quetta')
cities.pop()
cities.remove('lahore')
cities.reverse()
cities.sort()
cities

['a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'banu',
 'i',
 'k',
 'karachi',
 'karachi',
 'l',
 'l',
 'm',
 'n',
 'quetta',
 'r',
 's',
 'sukkur']

In [28]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])

IndexError: list index out of range

In [29]:
Animals=['cat','dog','goat','cow','lion']
print(Animals[5])

IndexError: list index out of range